name: Scheduled FitBot run

on:
  schedule:
  #- cron: '58/1 4 * * *'
  - cron: "5,10 5 * * *"
  #- cron: '50,59 16 * * 6,0,1,2,3'
  #- cron: '0 9 * * 6,0,1,2,3'
  workflow_dispatch:


jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Run fitbot
        #run: docker run -e email=${{ secrets.EMAILP }} -e password=${{ secrets.PASSWORDP }} -e booking-goals={'\"0\":{\"time\":\"0800\"\,\"name\":\"HYROX-Endurance\"}\,\"1\":{\"time\":\"0800\"\,\"name\":\"HYROX-Endurance\"}\,\"2\":{\"time\":\"0000\"\,\"name\":\"HYROX-Endurance\"},\"3\":{\"time\":\"2000\"\,\"name\":\"HYROX-Endurance\"},\"4\":{\"time\":\"0000\"\,\"name\":\"HYROX-Endurance\"},\"5\":{\"time\":\"0000\"\,\"name\":\"HYROX-Endurance\"}'} -e box-name=hybridboxgrau -e box-id=8244 -e days-in-advance=1  pablobuenaposada/fitbot
        run: docker run -e email=${{ secrets.EMAIL }} -e password=${{ secrets.PASSWORD }} -e booking-goals={'\"0\":{\"time\":\"0000\"\,\"name\":\"BASE\"}\,\"1\":{\"time\":\"0000\"\,\"name\":\"BASE\"}\,\"2\":{\"time\":\"1900\"\,\"name\":\"HYROX\"},\"3\":{\"time\":\"1900\"\,\"name\":\"HYROX\"},\"4\":{\"time\":\"1730\"\,\"name\":\"BASE\"},\"5\":{\"time\":\"0900\"\,\"name\":\"HYROX\"}'} -e box-name=hybridboxeliana -e box-id=10656 -e days-in-advance=1 -e proxy=socks5://89.58.45.94:34472 pablobuenaposada/fitbot
        #run: docker run -e email=paulagdp@outlook.com -e password=Hyrox1234 -e booking-goals={'\"0\":{\"time\":\"0800\"\,\"name\":\"HYROX-Endurance\"}\,\"1\":{\"time\":\"0800\"\,\"name\":\"HYROX-Endurance\"}\,\"2\":{\"time\":\"0800\"\,\"name\":\"HYROX-Endurance\"},\"3\":{\"time\":\"2000\"\,\"name\":\"HYROX-Endurance\"},\"4\":{\"time\":\"0000\"\,\"name\":\"HYROX-Endurance\"},\"5\":{\"time\":\"0000\"\,\"name\":\"HYROX-Endurance\"}'} -e box-name=hybridboxgrau -e box-id=8244 -e days-in-advance=1 -e proxy=socks5://57.129.81.201:1080 pablobuenaposada/fitbot
